.modal-container {
    position: fixed;
    margin: auto;
    padding: 15px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-content {
    width: 800px;
    height: 200px;
    background-color: #fff;
}

.text {
    color: black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 90px;
    margin-left: 20px;
}

.closeButton {
    display: flex;
    margin-left: 750px;
}